@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
 
  --color-memloop-purple: #8A2387;
  --color-memloop-red: #E94057;
  --color-memloop-orange: #F27121;
  --color-memloop-yellow: #FDE047;

}